*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/cachesim/*
!/rtt-am-modified/*
!/ysyxSoC
!/rt-thread-am
!/fceux-am
!/nvboard
!Makefile
!README.md
!.gitignore
!init.sh
/test
/am-kernels
/yosys-sta