config INDEX_LEN
  int "length of index"
  default 4

config OFFSET_LEN
  int "offset length"
  default 5

config BLOCK_NUM
  int "block number"
  default 1

choice
  prompt "Replacement Algorithm"
  default LRU
config LRU
  bool "Least Recently Used"
config PLRU
  bool "Pseudo Least Recently Used"
config FIFO
  bool "First In First Out"

endchoice
