menu "SoC Configuration"

config MROM
  bool "Enable MROM

config MROM_BASE
  depends on MROM
  hex "MROM base address"
  default 0x20000000

config MROM_SIZE
  depends on MROM
  hex "MROM size"
  default 0x1000

config SRAM
  bool "Enable SRAM"

config SRAM_BASE
  depends on SRAM
  hex "SRAM base address"
  default 0xf000000

config SRAM_SIZE
  depends on SRAM
  hex "SRAM size"
  default 0x1000000

config FLASH
  bool "Enable FLASH"

config FLASH_BASE
  depends on FLASH
  hex "FLASH base address"
  default 0x30000000

config FLASH_SIZE
  depends on FLASH
  hex "FLASH size"
  default 0x10000000

config PSRAM
  bool "Enable PSRAM"

config PSRAM_BASE
  depends on PSRAM
  hex "PSRAM base address"
  default 0x80000000

config PSRAM_SIZE
  depends on PSRAM
  hex "PSRAM size"
  default 0x400000

config SDRAM
  bool "Enable SDRAM"

config SDRAM_BASE
  depends on SDRAM
  hex "SDRAM base address"
  default 0xa0000000

config SDRAM_SIZE
  depends on SDRAM
  hex "SDRAM size"
  default 0x8000000

config RESET_BASE
  hex "Base of reset vector"
  default 0x30000000

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0x100000 if ISA_x86
  default 0

choice
  prompt "Physical memory definition"
  default PMEM_GARRAY
config PMEM_MALLOC
  bool "Using malloc()"
config PMEM_GARRAY
  depends on !TARGET_AM
  bool "Using global array"
endchoice

config MEM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST && !TARGET_AM
  bool "Initialize the memory with random values"
  default y
  help
    This may help to find undefined behaviors.

endmenu #MEMORY
